#cHeader {
  position: relative;
}
#cHeader > .cNav_second {
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: white;
  top: 100px;
  z-index: 9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  overflow: hidden;
}
#cHeader > .cNav_second > .sc_nav {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}
#cHeader > .cNav_second > .sc_nav > .line {
  margin-top: 30px;
  height: 110px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#cHeader > .cNav_second > .sc_nav > li {
  width: 204.33333333px;
  flex-shrink: 0;
  border-right: 2px solid white;
  padding: 15px 30px 30px;
}
#cHeader > .cNav_second > .sc_nav > li > .sc_navImg {
  width: 140px;
  height: 140px;
}
#cHeader > .cNav_second > .sc_nav > li > .sc_navImg > p {
  text-align: center;
  color: #333;
}
#cHeader > .cNav_second > .sc_nav > li > .sc_navImg > p:last-of-type {
  color: #ff6700;
}
#cHeader > .cNav_second > .sc_nav > li > .sc_navImg > img {
  width: 100%;
  height: 100%;
}
#cHeader > #cNav {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}
#cHeader > #cNav > .cNav_logo {
  width: 63px;
  height: 60px;
  margin-top: 20px;
  float: left;
  background-color: #ff6700;
  position: relative;
}
#cHeader > #cNav > .cNav_logo > a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: #ff6700;
  width: 60px;
  height: 60px;
  background: url('../images/mi-logo.png') no-repeat 50% 50%;
  transition: all 0.2s;
}
#cHeader > #cNav > .cNav_logo > a:first-of-type {
  background: url('../images/mi-logo.png') no-repeat 50% 50%;
}
#cHeader > #cNav > .cNav_logo > a:last-of-type {
  left: -60px;
  background: url('../images/mi-home.png') no-repeat 50% 50%;
}
#cHeader > #cNav > .cNav_logo:hover a:first-of-type {
  transform: translateX(60px);
}
#cHeader > #cNav > .cNav_logo:hover a:last-of-type {
  transform: translateX(60px);
}
#cHeader > #cNav > .cNav_search {
  width: 880px;
  padding-top: 12px;
  padding-left: 30px;
  float: left;
}
#cHeader > #cNav > .cNav_search > li:first-of-type {
  width: 100px;
  margin-right: 15px;
}
#cHeader > #cNav > .cNav_search > li {
  margin-top: 25px;
  float: left;
}
#cHeader > #cNav > .cNav_search > li > a {
  font-size: 16px;
  color: #333;
  padding: 26px 10px 38px;
}
#cHeader > #cNav > .cNav_search > li > a:hover {
  color: #ff6700;
}
#cHeader > #cNav > form {
  width: 265px;
  height: 50px;
  float: left;
  position: relative;
  margin-top: 25px;
}
#cHeader > #cNav > form > input[type] {
  height: 50px;
}
#cHeader > #cNav > form > .fdj {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  border-left: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
}
#cHeader > #cNav > form > .fdj > span {
  font-size: 30px;
  line-height: 50px;
}
#cHeader > #cNav > form > .fdj:hover {
  background: orange;
}
#cHeader > #cNav > form > .fdj:hover span {
  color: white;
}
