* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.clickOrange {
  color: #ff6700;
}
.show {
  display: block !important;
  visibility: visible !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}
a:active {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.swiper-wrapper {
  width: 100%;
}
.p_title {
  margin: 0 auto;
  width: 1224px;
  height: 58px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.p_title > .p_span {
  display: block;
  float: right;
}
.p_title > .p_span > span {
  font-size: 20px;
}
.p_title > .p_span a {
  font-size: 16px;
  color: black;
  margin-left: 30px;
  padding-bottom: 6px;
  text-decoration: none;
}
.p_title > .p_span a:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
